body {
    width: 1440px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}

.background-image {
    position: absolute;
}

.card1-image {
    position: relative;
    width: 447px;
    height: 245px;
    top: 160px;
    left: 170px;
}

.card1-number {
    position: relative;
    bottom: 100px;
    left: 30px;
    font-size: 28px;
    color: #FFF;
    letter-spacing: 3px;
}

.card1-name {
    position: relative;
    bottom: 80px;
    left: 30px;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card1-expdate {
    position: relative;
    bottom: 95px;
    left: 350px;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
}

.card2-image {
    position: relative;
    top: 180px;
    left: 280px;
    width: 447px;
    height: 245px;
}

.card2-securitycode {
    position: relative;
    bottom: 137px;
    left: 340px;
    font-size: 20px;
    color: #FFF;
}

form {
    position: relative;
    display: inline-block;
    left: 55%;
    bottom: 240px;
    width: 400px;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=number], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}

input[type=text]:focus {
    outline: none !important;
    border: 1px solid;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
}

input[type=number]:focus {
    outline: none !important;
    border: 1px solid;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
}

button {
    width: 400px;
    margin: 20px 0 0 0;
    background-color: hsl(278, 68%, 11%);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
  }

.attribution {
    position: relative;
    top: 10px;
    left: 430px;
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* .btn-gradient-2 {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 6px;
    border: 1px solid;
  } */